In [2]:
import pandas as pd

In [4]:
df = pd.read_csv('oct.csv')

In [5]:
df

           Date     Network    Upload  Download     Total
0    2022-12-21  NOS-F368-5   47,7 MB  135,3 MB    183 MB
1    2022-12-22  NOS-F368-5    259 MB  447,5 MB  706,5 MB
2    2022-12-23  NOS-F368-5  263,7 MB  552,7 MB  816,4 MB
3    2022-12-24  NOS-F368-5    275 MB  660,4 MB  935,4 MB
4    2022-12-25  NOS-F368-5  100,6 MB  193,6 MB  294,2 MB
..          ...         ...       ...       ...       ...
326  2023-10-22       Wi-Fi   1,99 GB   4,59 GB   6,58 GB
327  2023-10-23       Wi-Fi   4,11 GB   5,79 GB   9,89 GB
328  2023-10-24       Wi-Fi   1,95 GB   6,86 GB   8,81 GB
329  2023-10-25       Wi-Fi   5,99 GB   7,39 GB  13,38 GB
330  2023-10-26       Wi-Fi  600,3 MB  12,14 GB  12,74 GB

[331 rows x 5 columns]

In [6]:
df.head()

         Date     Network    Upload  Download     Total
0  2022-12-21  NOS-F368-5   47,7 MB  135,3 MB    183 MB
1  2022-12-22  NOS-F368-5    259 MB  447,5 MB  706,5 MB
2  2022-12-23  NOS-F368-5  263,7 MB  552,7 MB  816,4 MB
3  2022-12-24  NOS-F368-5    275 MB  660,4 MB  935,4 MB
4  2022-12-25  NOS-F368-5  100,6 MB  193,6 MB  294,2 MB

In [8]:
df.head(3)

         Date     Network    Upload  Download     Total
0  2022-12-21  NOS-F368-5   47,7 MB  135,3 MB    183 MB
1  2022-12-22  NOS-F368-5    259 MB  447,5 MB  706,5 MB
2  2022-12-23  NOS-F368-5  263,7 MB  552,7 MB  816,4 MB

In [9]:
df.tail()

           Date Network    Upload  Download     Total
326  2023-10-22   Wi-Fi   1,99 GB   4,59 GB   6,58 GB
327  2023-10-23   Wi-Fi   4,11 GB   5,79 GB   9,89 GB
328  2023-10-24   Wi-Fi   1,95 GB   6,86 GB   8,81 GB
329  2023-10-25   Wi-Fi   5,99 GB   7,39 GB  13,38 GB
330  2023-10-26   Wi-Fi  600,3 MB  12,14 GB  12,74 GB

In [10]:
df.tail(3)

           Date Network    Upload  Download     Total
328  2023-10-24   Wi-Fi   1,95 GB   6,86 GB   8,81 GB
329  2023-10-25   Wi-Fi   5,99 GB   7,39 GB  13,38 GB
330  2023-10-26   Wi-Fi  600,3 MB  12,14 GB  12,74 GB

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 331 entries, 0 to 330
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Date      331 non-null    object
 1   Network   331 non-null    object
 2   Upload    331 non-null    object
 3   Download  331 non-null    object
 4   Total     331 non-null    object
dtypes: object(5)
memory usage: 13.1+ KB

In [13]:
df.describe()

              Date     Network Upload Download Total
count          331         331    331      331   331
unique         300           3    311      275   283
top     2023-04-02  NOS-F368-5   1 KB  Zero KB  1 KB
freq             3         254      5       16     5

In [15]:
df.shape

(331, 5)

In [16]:
df.columns

Index(['Date', 'Network', 'Upload', 'Download', 'Total'], dtype='object')

In [17]:
df.axes

[RangeIndex(start=0, stop=331, step=1),
 Index(['Date', 'Network', 'Upload', 'Download', 'Total'], dtype='object')]

In [18]:
df.index

RangeIndex(start=0, stop=331, step=1)